.vsplit {
  height: 100%;
  position: fixed;
  padding: 6px;
}
.hsplit {
  width: 100%;
  position: relative;
}
.top {
  height: 60%;
  /* border: solid; */
  top: 0;
  /*   background: yellow; */
}
.bottom {
  height: 40%;
  /* border: solid; */
  top: 0;
  /*   background: green; */
}
.left {
  width: 43%;
  /* border: solid; */
  left: 0;
  /*   background: blue; */
}
.right {
  /* border: solid; */
  right: 0;
  /*   background: red; */
  width: 57%;
}
