.deep-button {
  font-family: Varela Round;
  background-color: #9fa8da;
  width: 7vh;
  height: 4vh;
  /* min-width: 50px;
  min-height: 30px; */
  font-size: 1.5vh;
  color: #111b1b;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-shadow: -0px 8px 0px 0px #616161;
  white-space: normal;
  margin: 8px;
}
.deep-button:active {
  box-shadow: -0px 2px 0px 0px #616161;
  transform: translateY(4px) translateX(-1px);
}
.deep-button:disabled {
  background-color: #616161;
  box-shadow: -0px 2px 0px 0px #616161;
  transform: translateY(4px) translateX(-1px);
  cursor: not-allowed;
}

.deep-button.trade {
  background-color: #f9a825;
}
.deep-button.trade:disabled {
  background-color: #616161;
}
