.deep-button {
  font-family: Varela Round;
  background-color: #9fa8da;
  width: 7vh;
  height: 4vh;
  font-size: 1.5vh;
  color: #111b1b;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -0px 8px 0px 0px #616161;
  margin: 8px;
  padding: 2.2vh;
  padding-left: 5vh;
  padding-right: 5vh;
}
.deep-button:active {
  box-shadow: -0px 2px 0px 0px #616161;
  transform: translateY(4px) translateX(-1px);
}
.deep-button:disabled {
  background-color: #616161;
  box-shadow: -0px 2px 0px 0px #616161;
  transform: translateY(4px) translateX(-1px);
  cursor: not-allowed;
}

.deep-button.trade {
  background-color: #f9a825;
}
.deep-button.trade:disabled {
  background-color: #616161;
}
