/**
    BEGIN Component Animations
**/
.card-enter {
  opacity: 0.01;
}

/* .card-enter.card-enter-active {
} */

.card-enter-done {
  animation: pulsate 0.2s ease-out;
  animation-iteration-count: 1;
}
/* .card-enter.card-enter-active {
} */

.card-enter-done {
  animation: pulsate 0.2s ease-out;
  animation-iteration-count: 1;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3, 1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/**
    END Component Animations
**/

// DEFINE VARIABLES
$small-gap: 0.5vh;
$med-gap: 1.5vh;
$card-width: 10vh;
$card-height: $card-width * 1.5;
$card-break-gap: 1.5 * $card-width;
$card-right-offset: -$card-width + ($card-width * 0.2);
$std-border-radius: 1vh;

.card-container {
  display: flex;
  padding: $small-gap;
  margin: 2vh;
  height: $card-height * 1.2;
}
.card {
  width: $card-width;
  height: $card-height;
  background: white;
  border-style: solid;
  border-radius: $std-border-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: $med-gap;
  color: #616161;
  margin-right: $card-right-offset;
  transition: margin-top 0.3s;
  cursor: pointer;
}
.card:hover {
  color: #212121;
}

.card.selected {
  margin-top: 0px;
  color: #43a047;
}
.card.selected:hover {
  color: #e53935;
}

/** Card representing the deck **/
.deck.card {
  margin-right: $card-break-gap;
  box-shadow: -4px 4px 0px 1px #616161;
}

/** container representing grouped camels **/
.camels {
  margin-right: $card-break-gap;
  display: flex;
}
.camels .card {
  margin-right: $card-right-offset;
}
.camels .card:hover {
  margin-top: 0px;
}

/** Container holding a bunch of cards **/
.card-container .card:hover {
  margin-top: 0px;
}
.card-container .card.deck:hover {
  color: #212121;
  margin-top: $med-gap * 0.6;
}
.card.disabled:hover {
  color: #212121;
  cursor: not-allowed;
  margin-top: $med-gap;
}
.card.selected:hover {
  color: #e53935;
}

/** The inner portion of the Card containing
    the resource colors
**/
.card-inside {
  width: 85%;
  height: 85%;
  border-radius: $std-border-radius * 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inside.silk {
  background: #ce93d8;
}
.card-inside.spices {
  background: #66bb6a;
}
.card-inside.leather {
  background: #8d6e63;
}

.card-inside.camel {
  background-image: url("../../assets/camel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card-inside.back {
  background: #616161;
}
.card-inside.silver {
  background: #346184;
}
.card-inside.gold {
  background: #ffc107;
}
.card-inside.diamond {
  background: #d32f2f;
}
h3 {
  font-family: "Varela Round";
}
