.card-container {
  display: flex;
  padding: 0.5vh;
  margin: 2vh;
}
/* .card-exit {
} */

/* .card-exit.card-exit-active {
} */

.card-enter {
  opacity: 0.01;
}

/* .card-enter.card-enter-active {
} */

.card-enter-done {
  animation: pulsate 0.2s ease-out;
  animation-iteration-count: 1;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3, 1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.card {
  width: 10vh;
  height: 15vh;
  background: white;
  border-style: solid;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  color: #616161;
  margin-right: min(-60px, calc(-12vh + 5vw));
  transition: margin-top 0.3s;
  cursor: pointer;
}
.deck.card {
  margin-right: 50px;
  box-shadow: -4px 4px 0px 1px #616161;
}
.camels {
  margin-right: 120px;
  display: flex;
}
.camels .card {
  margin-right: -110px;
}

.card.selected {
  margin-top: 0px;
}
.card:hover {
  color: #43a047;
}
.card-container .card:hover {
  margin-top: 0px;
}
.camels .card:hover {
  margin-top: 0px;
}
.card-container .card.deck:hover {
  color: #212121;
  margin-top: 10px;
}
.card.disabled:hover {
  color: #212121;
  cursor: not-allowed;
  margin-top: 16px;
}
.card.selected:hover {
  color: #e53935;
}
.card-inside {
  width: 85%;
  height: 85%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inside.silk {
  background: #ce93d8;
}
.card-inside.spices {
  background: #66bb6a;
}
.card-inside.leather {
  background: #8d6e63;
}

.card-inside.camel {
  background-image: url("../../assets/camel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card-inside.back {
  background: #616161;
}
.card-inside.silver {
  background: #346184;
}
.card-inside.gold {
  background: #ffc107;
}
.card-inside.diamond {
  background: #d32f2f;
}
h3 {
  font-family: "Varela Round";
}
