.menu-cards {
  font-size: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-left: -60px;
  margin-top: 15vh;
  position: relative;
}
#menu-description {
  padding: 25px;
}
.menu-cards .card {
  width: 8vw;
  height: 12vw;
  background: white;
  border-style: solid;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  color: #616161;
  margin-right: -60px;
  transition: margin 0.3s, width 0.2s, height 0.2s;
}
.card-inside {
  width: 85%;
  height: 85%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-cards .card:hover {
  color: #212121;
  margin-top: 0px;
  width: 10vw;
  height: 15vw;
  margin-right: 10px;
  z-index: 1;
  cursor: pointer;
}
.card-inside.start {
  background: #81c784;
}
.card-inside.help {
  background: #e57373;
}
.card-inside.join {
  background: #81d4fa;
}
